<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/Unknown.png">
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <img class = "portrait" src="/img/panther.jpg">
    </div>
    {{>footer}}
</body>



</html>